body{background-color: black;}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards>div {
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 250px;
    margin: 20px;
}

.btn{text-decoration: none;
   border: 2px solid blue;
   padding: 8px;
   border-radius: 12px;
   background-color: skyblue;
}

.btn1{text-decoration: none;
   border: 2px solid brown;
   padding: 8px;
   border-radius: 10px;
   background-color: whitesmoke;
}


.btn2{text-decoration: none;
   border: 2px solid green;
   padding: 8px;
   border-radius: 12px;
   background-color: greenyellow;
}


#mdl{
    background-color: rgba(20, 13, 87, 0.356);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 20%;
    opacity: 0;
    pointer-events: none;
}

#mdl:target{
    opacity: 1;
    pointer-events: all;
}

.msgblock{background-color: aliceblue;
    margin: auto;
    width: 60%;
    text-align: center;

}

/* button 3 diff mdl*/


.btn3{text-decoration: none;
   border: 2px solid black;
   padding: 8px;
   border-radius: 12px;
   background-color: greenyellow;
}

#mdlone{
    background-color: rgba(20, 13, 87, 0.356);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 20%;
    opacity: 0;
    pointer-events: none;
}

img{
    width: 30%;
    height: 30%;
    margin: 10px;
}

#mdlone:target{
    opacity: 1;
    pointer-events: all;
}