body{background-image: url(background.webp);
font-family: Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards>div {
    background-color: white;
    border: 3px solid pink;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 300px;
    margin: 20px;
}

.icons {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.btn , .btn1{
   text-decoration: none;
   font-weight: bold;
   border: 2px solid rgb(39, 121, 203);
   padding: 10px;
   border-radius: 10px;
   background-color: lightyellow;
   color: rgb(39, 121, 203);
}

.btn1{
   background-color: rgb(173, 239, 42);
}

#mdl {background-color: rgba(30, 82, 224, 0.364);} 

#mdlone{background-color: rgba(36, 193, 8, 0.389);}

#mdl , #mdlone{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 5%;
    opacity: 0;
    pointer-events: none;
}

#mdl:target , #mdlone:target {
    opacity: 1;
    pointer-events: all;
}

.msgblock1 , .msgblock2{
    position: relative;
    background-color: whitesmoke;
    margin: auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.233);
}

.header1 , .header2 {
    text-align: center;
    height: 60px;
    color: white;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.msgblock2>p , .msgblock1>p{
    color: white;
    padding: 5px;
    margin: 10px;
}

.header1 , .msgblock1>p{
    background-color: lightseagreen;
}


.header2 , .msgblock2>p{
    background-color: yellowgreen;
}

.msgblock1>img , .msgblock2>img{
    width: 50%; height: 30%;
    display: block;
    margin: 0 auto;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: rgba(0, 0, 0, 0.279);
    background-color: whitesmoke;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: rgb(213, 0, 54);
}


