body {
    margin: 0; 
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: linear-gradient(to bottom, rgb(243, 171, 225), rgb(236, 140, 50));
    background-repeat: no-repeat;
    background-size: cover; 
}

.cards {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; 
}

.cards>div {
    align-items: center;
    text-align: center;
    padding: 15px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.534);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.c1 {background-image: linear-gradient(to bottom, rgb(160, 243, 171), rgb(50, 93, 236));}

.c1:hover {
    background-image: linear-gradient(to bottom, lightgrey, grey);
}

.icons{
    width: 200px;
    height: 200px;
    margin: 10px;
    object-fit: cover;
}

.btn{
    position: relative;
    width: 100%;
    height: 50px;
    color: rgb(224, 224, 224);
    background: rgb(37, 37, 37);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Helvetica';
    font-weight: bold;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btn:hover{
    background: transparent;
    border: 2px solid rgb(34, 34, 34);
    color: rgb(37, 37, 37);
    transform: scale(1.03);
}

#mdl {
    background-color: rgba(19, 19, 19, 0.486);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    padding-top: 5%;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

#mdl:target{
    opacity: 1;
    pointer-events: all;
}

.msgblock {
    display: flex;
    position: relative;
    width: 80%;
    height: 500px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.233);
    overflow: hidden;
    background-color: rgb(255, 215, 215);
}


.close{
    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    font-family: 'Creato';
    color: rgba(255, 255, 255, 0.445);
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
