.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards>div {
    background-color: white;
    border: 2px solid rgb(255, 59, 213);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    width: 250px;
    margin: 20px;
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, 0.452);
}

.btn{text-decoration: none;
   border: 2px solid rgb(21, 255, 0);
   padding: 8px;
   border-radius: 12px;
   background-color: rgb(249, 90, 255);
}


#mdl{
    background-color: rgba(46, 6, 21, 0.356);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 20%;
    opacity: 0;
    pointer-events: none;
}

#mdl:target{
    opacity: 1;
    pointer-events: all;
}

.msgblock{background-color: aliceblue;
    margin: auto;
    width: 60%;
    text-align: center;
}



img{
    width: 30%;
    height: 30%;
    margin: 10px;
}

