.A {
    color: red;
    background-color: rgb(121, 88, 45);

}

.A1 {
    color: aqua;
    background-color: blueviolet;
}

.CC {
        width: 30%;
    height: 200px;
    float: left;
}