.heroimgbox {
    border: 2px solid greenyellow;
    height: 300px;
    position: relative;
    background: url(13images/back.webp);
    background-size: 100% 100%;
    transition: border 2s;
}

.smalling {
    width: 10%;
    height: 60%;
    border: 2px solid lightblue;
    opacity: 0.9;
    position: absolute;
    left: 10%;
    animation-name: explore;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.smalling>img {
    width: 100%;
    height: 100%;
}

@keyframes explore {
    0% {left: 10%;} 
    25%{border:3px dotted greenyellow;transform: rotate(37deg);width: 100%;}
    30%{border:3px dotted greenyellow;transform: rotate(-30deg);width: 50%;}
    45%{border:3px dotted greenyellow;transform: rotate(30deg);width: 100%;}
    50% {left:30%;bottom: 10%;}
    100% {left:90%;bottom: 0%;}
}