.heroimgbox {
    border: 2px solid greenyellow;
    height: 300px;
    position: relative;
    background-size: 100% 100%;
    transition: border 2s;
background-image: url(13images/back.webp);
}

.smalling {
    width: 10%;
    height: 60%;
    border: 2px solid lightblue;
    opacity: 0.9;
    position: absolute;
    left: 10%;
}

.smalling>img {
    width: 100%;
    height: 100%;
}

.one {
    animation-name: explore;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.two {
    animation-name: explore2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes explore {
    0% { left: 0%; bottom: 100%; opacity: 100%; }
    25%{border:3px dotted greenyellow; left: 50% ;bottom: 50%; opacity: 0%;}
    30%{border:3px solid rgb(255, 78, 47);}
    45%{border:3px dotted greenyellow;}
    50% {left:30%;bottom: 10%; opacity: 100%;}
    100% {left:90%;bottom: 0%; opacity: 0%;}
}

@keyframes explore2 {
    0% { left: 0%; bottom: 100%; opacity: 100%; }
    25%{border:3px dotted greenyellow; left: 50% ;bottom: 50%; opacity: 100%;}
    30%{border:3px solid rgb(255, 78, 47);}
    45%{border:3px dotted greenyellow;}
    50% {left:30%;bottom: 10%; opacity: 0%;}
    100% {left:90%;bottom: 0%; opacity: 100%;}
}


